* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}


/*modifica el comportamiento de las cajas*/


/*block inline inlineblock  flex grid inlineflex inlinegrid*/


/*block recubren todo el ancho de la pagina, no puedo poner un obj allado, no importa el contenido ocupan todo
inline solo cubren el espacio del contenido , puedo poner un obj allado
son los naturales de html*/


/*inline block: ocupa el espacio del contenido pero le puedo dar un ancho y un alto, puedo poner un elemento allado
que se comporte como bloque pero que el tamaño sea de acuerdo al contenido*/

div {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 10px solid red;
    background-color: yellow;
    display: inline-block;
}


/*display block por defecto una abajo de la otra*/


/*display inline una allado de la otra pero el tamaño se ajusta al contenido*/


/*inline block se comporta como block(respeta ancho y alto y no se ajusta al contenido
pero se pone una allado de la otra*/


/*b es inline, se ajusta al contenido y va allado de las otras, no se puede cambiar el tamaño*/


/*si le pongo display block puedo cambiar las resoluciones*/


/*inline block las resoluciones se pueden cambiar y se ponen una allado de laotra*/

b {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 10px solid red;
    background-color: yellow;
    display: inline-block;
}