 * {
     font-size: 20px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 100;
 }
 
 .caja1 {
     margin: 25px;
     width: 300px;
     height: 650px;
     border: 4px solid black;
 }
 
 .caja1 img {
     height: 100%;
     width: 100%;
     border: 2px solid red;
     object-fit: contain;
 }
 /*Contain es el valor que viene por defecto,mantiene las resoluciones ajustandose al contenido
  las resoluciones de la imagen se ajustan al contenido, la imagen se queda en las resoluciones reales 
  y se centra en el contenedor, pero no rellena espacios*/
 
 .caja2 {
     margin: 25px;
     width: 500px;
     height: 650px;
     border: 4px solid black;
 }
 
 .caja2 img {
     height: 100%;
     width: 100%;
     border: 2px solid red;
     object-fit: cover;
 }
 /*COVER: se ajusta al contenedor, agranda las resoluciones para ajustarse al contenido
  la imagen se centra, se ajusta al contenedor y recorta los bordes que sobran*/
 
 .caja3 {
     margin: 25px;
     width: 400px;
     height: 300px;
     border: 4px solid black;
 }
 
 .caja3 img {
     height: 100%;
     width: 100%;
     border: 2px solid red;
     object-fit: none;
 }
 /*NONE:deja la imagen original(con inspeccionar sobre la web veo las resoluciones)
 no cambia nada de su tamaño*, sea cual sea el tamaño del contenedor*/
 
 .caja4 {
     margin: 25px;
     width: 400px;
     height: 300px;
     border: 4px solid black;
 }
 
 .caja4 img {
     height: 100%;
     width: 100%;
     border: 2px solid red;
     object-fit: scale-down;
 }
 /*scale down: se queda con la resolucion mas chica*/
 
 .caja5 {
     margin: 25px;
     width: 700px;
     height: 900px;
     border: 4px solid black;
 }
 
 .caja5 img {
     height: 100%;
     width: 100%;
     border: 2px solid red;
     object-fit: cover;
     /* object-position: right; */
     object-position: 1em;
 }
 /*la imagen se corre dentro del margen para el lado que le digo left right top bottom
 se mueve dentro del contenedor*/